---
import Layout from '../layouts/BlogPost.astro';
import { SITE_TITLE } from '../consts';
---

<Layout
	title="About"
	description="Ernest(as) Pravilionis"
	pubDate={new Date('June 18 2025')}
	heroImage="/blog-placeholder-about_Lawyer2.jpeg"
>
		<p style="text-align: justify;">
			<strong>Ernest(as) Pravilionis</strong> is a lawyer with a knack for business law, consumer protection law, general litigation, immigration law, and technology, internet & 
			intellectual property law.		
		</p>
	
	
		<p style="text-align: justify;">
			Before becoming an attorney, he spent over five years working with airBaltic, Emirates airlines, and several smaller airlines. 
			His passion for aviation remains strong as he continues to build his career in the legal field.
		</p>
	
		<p style="text-align: justify;">
			He’s quick to grasp complex legal concepts and excels in various challenging cases. When he’s not in court, you 
			can find him learning new things, exploring technology, traveling new places, plane spotting, and giving back to his community.
		</p>
		<p>
			<h3>Experience</h3>
		<ul>
			<li>Associate General Counsel, Research Council of Lithuania</li>
			<li>Blue Book Traineeship, European Commission (Brussels, Belgium)</li>
			<li>Associate, Weaver & Fitzpatrick, P.A (Frederick, Maryland)</li>
		</ul>
			<h3>Education</h3>
		<ul>
			<li>University of Maryland, Carey School of Law; Baltimore, MD — LL.M., 2022</li>
		 	<li>Vytautas Magnus University School of Law; Lithuania — J.D. (equiv.), 2018</li>
		</ul>
			<h3>Admissions & Languages</h3>
		<ul>
			<li>Admitted to the practice of law in the State of New York</li>
			<li>Speaks Lithuanian, Russian, learns Spanish</li>
		</ul>
	</p>

	<p>
                	<div style="font-family: Arial, sans-serif; line-height: 1.6;">
			<div>Contact Information:</div>
			<div>Law Practice of Ernestas Pravilionis (EPRA LEGAL, PLLC)</div>
  			<div>1178 Broadway</div>
 			<div>3rd Floor, #3529</div>
 			<div>New York, NY 10001</div>
  			<div><strong>Phone:</strong> (917) 409-7486</div>
 			<div><strong>Fax:</strong> (917) 634-8934</div>
			<div><strong>Email:</strong> ernestas@epralegal.com</div>
			<div>Consultation booking: <a href="https://lawpracticeofernestaspravilionis.zohobookings.com/#/lawpracticeofernestaspravilionis">here</a></div>
			<div><a href="https://law-practice-of-ernestas-pravilionis.mycase.com/contact_us/KHM4h3gnSB62ciJgkZyzih57">Contact Us/Intake Form</a></div>
			</div>
	</p>
	<p> 
			The webpage employs AI-generated images to depict the lawyer, members of the law firm, or fictional events or scenes.
	</p>
</Layout>
