---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Ernest(as) Pravilionis"
	pubDate={new Date('May 29 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Ernestas Pravilionis is an attorney with an experience in business law, consumer protection, litigation, intellectual property law, 
		and a passion for aviation. He has a quick grasp of legal concepts allowing him to excel in diverse and complex matters.
		Attorney enjoys learning, is passionate about IT technology, loves travel, and aims to give back to the community.
	</p>

	<p>
			<h3>Experience</h3>
		<ul>
			  <li>Associate General Counsel, Research Council of Lithuania</li>
			  <li>Blue Book Traineeship at the European Commission DG (Brussels, Belgium)</li>
			  <li>Associate, Weaver & Fitzpatrick, P.A (Frederick, Maryland)</li>
		</ul>
			<h3>Education</h3>
		<ul>
			
			<li>University of Maryland Carey School of Law; Baltimore, Maryland — LL.M., 2022</li>
		 	<li>Vytautas Magnus University School of Law; Kaunas, Lithuania — J.D. (equiv.), 2018</li>
		</ul> 
	</p>

	<p>
                Ernestas Pravilionis is an attorney admitted to the practice of law in New York State. He speaks Lithuanian and Russian.
	</p>
</Layout>
