---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About"
	description="Ernest(as) Pravilionis"
	pubDate={new Date('May 29 2025')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
		Ernest(as) Pravilionis is a lawyer with a knack for business law, consumer protection, litigation, and intellectual property law. 
		He’s quick to grasp complex legal concepts and excels in various challenging cases. When he’s not in court, you can find him learning new things, 
		exploring IT technology, traveling new places, and giving back to his community.
	</p>

	<p>
			<h3>Experience</h3>
		<ul>
			  <li>Associate General Counsel, Research Council of Lithuania</li>
			  <li>Blue Book Traineeship at the European Commission (Brussels, Belgium)</li>
			  <li>Associate, Weaver & Fitzpatrick, P.A (Frederick, Maryland)</li>
		</ul>
			<h3>Education</h3>
		<ul>
			
			<li>University of Maryland, Carey School of Law; Baltimore, MD — LL.M., 2022</li>
		 	<li>Vytautas Magnus University School of Law; Lithuania — J.D. (equiv.), 2018</li>
		</ul> 
	</p>

	<p>
                Ernest(as) Pravilionis is admitted to the practice of law in New York State. He speaks Lithuanian and Russian.
	</p>

	<p>
                <div style="font-family: Arial, sans-serif; line-height: 1.6;">
		<div>Contact Information:</div>
  		<div>1178 Broadway</div>
 		<div>3rd Floor, #3529</div>
 		<div>New York, NY 10001</div>
  		<div><strong>Phone:</strong> (917) 409-7486</div>
 		<div><strong>Fax:</strong> (917) 634-8934</div>
		<div><strong>Email:</strong> ernestas@epralegal.com</div>
	
</div>
	</p>
</Layout>
