---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

// 👇 THIS line ensures the component is retained in SSR
const _forceInclude = BaseHead;
---

<style>
  h2 {
    font-size: 2rem; /* Change this value as needed */
  }
</style>

<!doctype html>
<html lang="en">
<head>
  {BaseHead && <BaseHead title="Law Practice of Ernestas Pravilionis" description="Welcome to EPRA Legal website!" />}
</head>
	<body>
		<Header />
		<main>
			<h2>Big City Services at Upstate Prices – Full-Service Legal Solutions for Businesses and Individuals.</h2>
			<p style="text-align: justify;">
				Law Practice of Ernestas Pravilionis - aims to break down barriers to legal services access throughout New York State
				by being the most accessible, tech-enabled, and trusted remote-first law firm. We are committed to delivering innovative, 
				client-centered, and technology driven solutions with integrity and empathy. Our growth is driven by a passion for justice, 
				collaboration, and making a meaningful impact in the communities we serve.
			</p>
			<p><b>Practice Areas:</b></p>
			<ul>
				<li>Business (Corporate) Law & General Counsel Services for Start-ups</li>
				<li>General Litigation</li>
				<li>Consumer Law</li>
				<li>Immigration Law</li>
				<li>Housing and Landlord-Tenant</li>
				<li>Intellectual Property Law</li>
				<li>Technology & Internet Law</li>
			</ul>
			<p style="text-align: justify;">
				We serve clients statewide with a focus on small and medium size businesses & individuals
				based in Hudson Valley Region and NYC.
			</p>
			<p style="text-align: justify;">
				Looking for a law firm with a bit more flexibility? Contact us for a flat-fee pricing options
				and affordable hourly prices by
				<a href="https://law-practice-of-ernestas-pravilionis.mycase.com/contact_us/KHM4h3gnSB62ciJgkZyzih57">Clicking Here</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
