src/components
---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { Image } from 'astro:assets';
import ernestasImage from '../assets/PlaygroundImage2.png';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<h1>Hello!</h1>
			<Image src={ernestasImage} alt="Ernestas Pravilionis" />
			<h2>Big City Services at Upstate Prices – Full-Service Legal Solutions for Businesses and Individuals.<h2/>
			<p>
				Welcome to the Law Practice of Ernestas Pravilionis - firm aims to break down barriers to legal access througout New York State
				by being the most accessible, tech-enabled, and trusted remote-first law firm. We are committed to delivering innovative, client-centered
				technology driven solutions with integrity and empathy. Our growth is driven by a passion for justice, collaboration,
				and making a meaningful impact in the communities we serve.
			</p>
			<p>Practice Areas:</p>
			<ul>
				<li>Business Law & General Counsel Services for Start-ups </li>
				<li>Consumer Law</li>
				<li>Immigration Law</li>
				<li>Housing and Landlord-Tenant</li>
				<li>Intellectual Property Law</li>
				<li>Technology & Internet Law</li>
			</ul>
			<p>
				We serve multilingual and multicultural New Yorkers statewide with a focus on small and medium size businesses & individuals
				based in Hudson Valley Region.
			</p>
			<p>
				Looking for a law firm with a bit more flexibility? Contact us for a flat-fee pricing options 
				and hourly prices below NYS averages:
				<a href="https://law-practice-of-ernestas-pravilionis.mycase.com/contact_us/KHM4h3gnSB62ciJgkZyzih57">by Clicking Here</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>
