---
import Layout from '../layouts/BlogPost.astro';
import { SITE_TITLE } from '../consts';
---

<Layout
	title="Privacy Policy"
	description="Privacy Policy"
	pubDate={new Date('September 1 2025')}
>
<h4>Information We May Collect</h4>
<p>Basic information you provide (such as contact form submissions or emails you send us).</p>  
<p>Basic technical information (such as your IP address and browser type) that may be automatically collected to help us improve the website.</p>

<h4>How We May Use Information</h4>
<p>To respond to your inquiries or messages.</p>
<p>To maintain and improve our website.</p>

<h4>Sharing of Information</h4>
<p>We do not sell, trade, or share your personal information with third parties, except if required by law.</p>

<h>Cookies</h>
</p>This site may use simple cookies for functionality and website performance. You can disable cookies in your browser if you prefer.</p>

<h>Your Rights</h>
<p>If you are located in the EU/EEA, California or other jurisdiction (that entitles you to such right), you have the right to access, correct, or delete your personal data. To make a request, please contact us.</p>

<h>Contact Us</h>
<p>If you have any questions about this Privacy Policy, You can contact us:</p>
<ul>
		  <li>By email: clients@epralegal.com</li>
</ul>

</layout>

